### pandas - Series
- index(label)을 통해 처리 가능한 1차원 배열

In [2]:
import pandas as pd
import numpy as np

---

##### Series 생성

In [ ]:
# 파이썬 list 활용

stocks = ['NVDA', 'MSFT', 'AAPL', 'GOOG', 'TSLA']
stocks_ser = pd.Series(stocks)
print(type(stocks_ser))
print(stocks_ser[0])

stocks_ser.name = '미국 주식' # series의 이름
print(stocks_ser)

<class 'pandas.core.series.Series'>
NVDA
0    NVDA
1    MSFT
2    AAPL
3    GOOG
4    TSLA
Name: 미국 주식, dtype: object

In [ ]:
# ndarray 활용
nums_ser = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(nums_ser)
print(nums_ser[2], nums_ser['c'])
print(nums_ser.iloc[2], nums_ser.loc['c'])  # loc 는 label(이름)을 참조해서 찾고, iloc는 integerlocatoin 즉 index 숫자를 통한 참조가 이루어진다.
# iloc(integer location) : 인덱스를 통한 참조
# loc(location) : 인덱스 라벨을 통한 참조

a   -0.369704
b    0.482538
c   -1.173213
d   -1.895030
e   -1.751548
dtype: float64
-1.173213250373459 -1.173213250373459
-1.173213250373459 -1.173213250373459

C:\Users\USER\AppData\Local\Temp\ipykernel_56664\3696916900.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(nums_ser[2], nums_ser['c'])

In [ ]:
# dictionary 활용
info = {
    'a' : 10,
    'b' : 20,
    'c' : 30
}
info_ser = pd.Series(info)
print(info_ser)

info_ser.index = ['A', 'B', 'C']    # ser.index : 인덱스 라벨에 순차적으로 넣어준다.
print(info_ser)

a    10
b    20
c    30
dtype: int64
A    10
B    20
C    30
dtype: int64

In [19]:
# scalar value 활용
num_ser = pd.Series(5.5)
num_ser = pd.Series(5.5, index=['a', 'b', 'c', 'd', 'e'])
print(num_ser)

a    5.5
b    5.5
c    5.5
d    5.5
e    5.5
dtype: float64

---

##### Series 속성

In [21]:
movies = ['인턴', '아이 엠 샘', '록키', '탑건', '007']
movies_ser = pd.Series(movies)
movies_ser

0        인턴
1    아이 엠 샘
2        록키
3        탑건
4       007
dtype: object

In [25]:
print(movies_ser.values)
movies_ser.values

['인턴' '아이 엠 샘' '록키' '탑건' '007']

array(['인턴', '아이 엠 샘', '록키', '탑건', '007'], dtype=object)

In [23]:
movies_ser.array

<NumpyExtensionArray>
['인턴', '아이 엠 샘', '록키', '탑건', '007']
Length: 5, dtype: object

In [27]:
# index를 별도 지정하지 않은 경우 기본적으로 숫자 인덱스
movies_ser.index = ['1st', '2nd', '3rd', '4th', '5th']
movies_ser.index    # 라벨을 지정한 경우 라벨 인덱스

Index(['1st', '2nd', '3rd', '4th', '5th'], dtype='object')

In [29]:
print(movies_ser.dtype)     # 요소의 자료형
print(movies_ser.shape)     # 형태
print(movies_ser.ndim)      # 차원
print(movies_ser.size)      # 요소의 개수

object
(5,)
1
5

In [ ]:
# 시리즈의 값이 모두 고유한 값인지 여부 (True : 중복 값이 없음 / False : 중복 값이 있음)
movies_ser.is_unique

True

---

##### Series의 메서드

In [54]:
nums_ser = pd.Series([2025, 3, 4, 12, 41])

In [ ]:
print(nums_ser.sum())       # 누적 합 (총합)
print(nums_ser.product())   # 누적 곱 
print(nums_ser.mean())      # 평균

2085
11955600
417.0

In [ ]:
print(nums_ser)
print(nums_ser.head(2))     # 앞에서 일부 데이터를 조회 (기본값: 5)
print(nums_ser.tail(2))     # 뒤에서 일부 데이터를 조회 (기본값: 5)

0    2025
1       3
2       4
3      12
4      41
dtype: int64
0    2025
1       3
dtype: int64
3    12
4    41
dtype: int64

In [ ]:
nums_ser.info()     # series의 메타 데이터(시리즈에 대한 자체적인 시리즈의 기본 정보)

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 172.0 bytes

In [ ]:
nums_ser.describe()     # 데이터 분석/설명

count       5.000000
mean      417.000000
std       899.031423
min         3.000000
25%         4.000000
50%        12.000000
75%        41.000000
max      2025.000000
dtype: float64

In [60]:
# nums_ser = pd.Series([2025, 3, 4, 12, 41])
# print(nums_ser)

# # # print(nums_ser.iloc[1], nums_ser.loc[1])

nums_ser.index = list('abcde')  # ['a', 'b', 'c', 'd', 'e']
print(nums_ser)

print(nums_ser.iloc[1], nums_ser.loc['b'])

a    2025
b       3
c       4
d      12
e      41
dtype: int64
3 3

---

##### SP500 데이터 활용

In [ ]:
# df.squeeze() : Dataframe의 Series가 하나인 경우 Series 객체 반환
sp_500_df = pd.read_csv('./data/S_P500_Prices.csv') # pd.read_csv() : 파일을 dataframe으로 반환
sp_500_ser = sp_500_df.squeeze()    # Series가 여럿인 경우 squeeze를 할 수 없다. 원본이 반환된다.
type(sp_500_ser)

pandas.core.series.Series

In [ ]:
print(type(sp_500_df))
sp_500_df

In [65]:
sp_500_ser.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2159 entries, 0 to 2158
Series name: sp500
Non-Null Count  Dtype
--------------  -----
2159 non-null   float64
dtypes: float64(1)
memory usage: 17.0 KB

In [66]:
sp_500_ser.describe()

count    2159.000000
mean     2218.749554
std       537.321727
min      1278.040039
25%      1847.984985
50%      2106.629883
75%      2705.810059
max      3386.149902
Name: sp500, dtype: float64

In [67]:
# 형태, 요소 개수, 깊이
# 개수, 최소값, 중위값, 최대값, 평균값, 표준편차값, 분산값
# 인덱스 번호로 인덱스 및 슬라이싱 : 인덱스 50의 값 가져오기, 인덱스 100~200 값 가져오기.
# fancy indexing 써보기
# boolean indexing 써보기

In [69]:
# 형태, 요소 개수, 깊이
print(sp_500_ser.shape)
print(sp_500_ser.size)
print(sp_500_ser.ndim)

(2159,)
2159
1

In [87]:
# 개수, 최소값, 중위값, 최대값, 평균값, 표준편차값, 분산값
sp_500_ser.count(), sp_500_ser.min(), sp_500_ser.median(), sp_500_ser.max(), sp_500_ser.mean(), sp_500_ser.std(), sp_500_ser.var()

(np.int64(2159),
 np.float64(1278.040039),
 np.float64(2106.629883),
 np.float64(3386.149902),
 np.float64(2218.7495540592868),
 np.float64(537.3217268874763),
 np.float64(288714.6381853397))

In [89]:
# 인덱스 번호로 인덱스 및 슬라이싱 : 인덱스 50의 값 가져오기, 인덱스 100~200 값 가져오기.

print(sp_500_ser[50])
print(sp_500_ser.iloc[50])
print(sp_500_ser[100:201])
print(sp_500_ser.iloc[100:201])

1416.51001
1416.51001
100    1315.130005
101    1314.989990
102    1325.660034
103    1308.930054
104    1324.180054
          ...
196    1433.819946
197    1413.109985
198    1408.750000
199    1412.969971
200    1411.939941
Name: sp500, Length: 101, dtype: float64
100    1315.130005
101    1314.989990
102    1325.660034
103    1308.930054
104    1324.180054
          ...
196    1433.819946
197    1413.109985
198    1408.750000
199    1412.969971
200    1411.939941
Name: sp500, Length: 101, dtype: float64

In [76]:
# fancy indexing 써보기
print(sp_500_ser[[1, 500, 1300]])

1       1289.089966
500     1838.130005
1300    2385.260010
Name: sp500, dtype: float64

In [94]:
# boolean indexing 써보기 
print(sp_500_ser[sp_500_ser > 3000])
sp_500_ser.iloc[sp_500_ser.values > 3000]

1885    3013.770020
1886    3014.300049
1887    3004.040039
1892    3005.469971
1893    3019.560059
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 160, dtype: float64

1885    3013.770020
1886    3014.300049
1887    3004.040039
1892    3005.469971
1893    3019.560059
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 160, dtype: float64

In [ ]:
print(3013.770020 in sp_500_ser.values)     # 특정 값을 가지고 있는 여부

print(2000 in sp_500_ser)       # .values 붙이지 않으면 기본 값은 index로 찾음
print(2000 in sp_500_ser.index)

True
True
True

In [103]:
# 정렬
sp_500_ser = sp_500_ser.sort_values()
sp_500_ser

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [104]:
sp_500_ser = sp_500_ser.sort_values(ascending=False)
sp_500_ser

2037    3386.149902
2035    3380.159912
2033    3379.449951
2034    3373.939941
2038    3373.229980
           ...
2       1293.670044
1       1289.089966
99      1285.500000
98      1278.180054
97      1278.040039
Name: sp500, Length: 2159, dtype: float64