# Faker
- 가상 데이터 생성

In [ ]:
# !pip install faker

Collecting faker
  Downloading faker-37.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\user\anaconda3\envs\pystudy_env\lib\site-packages (from faker) (2025.1)
Downloading faker-37.1.0-py3-none-any.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 1.9/1.9 MB 10.6 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.1.0

In [5]:
from faker import Faker

fake = Faker()
print(fake.name())
print(fake.first_name() + "," + fake.last_name())
print(fake.email())
print(fake.company())
print(fake.date_of_birth(minimum_age=19, maximum_age=90))

Brandi Harris
Christopher,Lee
linda96@example.com
Barnes, Green and Flores
1941-12-19

In [6]:
import pandas as pd
import random

fake = Faker()

def generate_customer_data(n=1000):
    data = []

    for _ in range(n):
        age = fake.random_int(min=19, max=60)
        sub_months = fake.random_int(min=1, max=120)
        monthly_payment = round(random.uniform(10, 100), 2)
        usage_frequency = fake.random_int(min=1, max=30)
        stft_score = fake.random_int(min=1, max=5)
        churn = fake.boolean(chance_of_getting_true=30) # 30%가 true

        data.append([
            age, sub_months, monthly_payment, usage_frequency, stft_score, churn
        ])
    
    columns = ["AGE", "SUB_MONTHS", "MONTHLY_PAYMENT", "USAGE_FEQ", "STFT", "CHURN"]

    return pd.DataFrame(data, columns=columns)

In [8]:
customer_df = generate_customer_data(200000)
customer_df

        AGE  SUB_MONTHS  MONTHLY_PAYMENT  USAGE_FEQ  STFT  CHURN
0        29          34            72.96         24     5  False
1        54          60            45.45         21     5   True
2        40          52            45.22         12     5  False
3        36          61            80.85         19     5  False
4        43          33            34.32         22     2  False
...     ...         ...              ...        ...   ...    ...
199995   29          81            35.38         18     2   True
199996   40         115            31.24         25     5   True
199997   51          86            57.17         25     2  False
199998   24          16            41.95         23     4  False
199999   49         112            62.69          2     1  False

[200000 rows x 6 columns]

In [9]:
customer_df.to_csv('customer_data.csv', index=False)