# ì¶”ì²œ ì‹œìŠ¤í…œ(Recommendation System)

1. ì½˜í…ì¸  ê¸°ë°˜ í•„í„°ë§(Content-based Filtering)
    - ì•„ì´í…œì˜ ì†ì„±ì„ ê¸°ë°˜ìœ¼ë¡œ ì‚¬ìš©ìì—ê²Œ ì í•©í•œ ì•„ì´í…œ ì¶”ì²œ

2. í˜‘ì—… í•„í„°ë§ (Collaborative Filtering)
    - ì‚¬ìš©ìë“¤ ê°„ì˜ ìœ ì‚¬ì„±ì„ ê¸°ë°˜ìœ¼ë¡œ ì¶”ì²œ
    - ì‚¬ìš©ì ê¸°ë°˜ê³¼ ì•„ì´í…œ ê¸°ë°˜ìœ¼ë¡œ ê°ê° ì¶”ì²œí•  ìˆ˜ ìˆìŒ

3. í•˜ì´ë¸Œë¦¬ë“œ ì¶”ì²œ ì‹œìŠ¤í…œ (Hybird Recommendation System)
    - í˜‘ì—… í•„í„°ë§ê³¼ ì½˜í…ì¸  ê¸°ë°˜ í•„í„°ë§ì„ ê²°í•©í•˜ì—¬ ì¶”ì²œ

- ì˜í™” ë°ì´í„°
    1. **id**: ì˜í™”ì˜ ê³ ìœ  IDë¥¼ ë‚˜íƒ€ëƒ„.
    2. **title**: ì˜í™”ì˜ ì œëª©.
    3. **budget**: ì˜í™” ì œì‘ì— ì†Œìš”ëœ ì˜ˆì‚° (ë‹¨ìœ„: USD).
    4. **popularity**: ì˜í™”ì˜ ì¸ê¸° ì ìˆ˜. TMDbì—ì„œ ì œê³µí•˜ëŠ” ì˜í™”ì˜ ì¸ê¸°ë„ë¥¼ ë‚˜íƒ€ëƒ„.
    5. **genres**: ì˜í™”ì˜ ì¥ë¥´ë¥¼ ë‚˜íƒ€ë‚´ë©°, ì—¬ëŸ¬ ì¥ë¥´ê°€ í¬í•¨ëœ ê²½ìš° ë¦¬ìŠ¤íŠ¸ë¡œ í‘œí˜„ë¨.
    6. **overview**: ì˜í™”ì˜ ì¤„ê±°ë¦¬ë‚˜ ê°œìš”ë¥¼ ì„¤ëª…í•˜ëŠ” í…ìŠ¤íŠ¸.
    7. **release_date**: ì˜í™”ì˜ ê°œë´‰ ë‚ ì§œ.
    8. **revenue**: ì˜í™”ì˜ ì´ ìˆ˜ìµ (ë‹¨ìœ„: USD).
    9. **runtime**: ì˜í™”ì˜ ìƒì˜ ì‹œê°„ (ë‹¨ìœ„: ë¶„).
    10. **vote_average**: TMDbì—ì„œ ì œê³µí•˜ëŠ” ì˜í™”ì˜ í‰ê·  í‰ì .
    11. **vote_count**: ì˜í™”ì— ëŒ€í•œ í‰ê°€ ê°œìˆ˜.
    12. **production_companies**: ì˜í™”ì˜ ì œì‘ íšŒì‚¬ ë¦¬ìŠ¤íŠ¸.
    13. **production_countries**: ì˜í™”ì˜ ì œì‘ êµ­ê°€ ë¦¬ìŠ¤íŠ¸.
    14. **spoken_languages**: ì˜í™”ì—ì„œ ì‚¬ìš©ëœ ì–¸ì–´ ë¦¬ìŠ¤íŠ¸.
    15. **cast**: ì£¼ìš” ì¶œì—°ì§„ ë¦¬ìŠ¤íŠ¸.
    16. **crew**: ì˜í™” ì œì‘ì— ì°¸ì—¬í•œ ì£¼ìš” ì œì‘ì§„ ë¦¬ìŠ¤íŠ¸.
    17. **keywords**: ì˜í™”ì˜ í‚¤ì›Œë“œ ë¦¬ìŠ¤íŠ¸.
    18. **tagline**: ì˜í™”ì˜ íƒœê·¸ë¼ì¸(ì£¼ìš” í™ë³´ ë¬¸êµ¬).
    19. **original_language**: ì˜í™”ì˜ ì›ì–´ (ì˜ˆ: ì˜ì–´, í•œêµ­ì–´ ë“±).
    20. **homepage**: ì˜í™”ì˜ ê³µì‹ ì›¹ì‚¬ì´íŠ¸ URL.
    21. **poster_path**: ì˜í™” í¬ìŠ¤í„° ì´ë¯¸ì§€ URL ê²½ë¡œ.

In [16]:
import numpy as np
import pandas as pd

In [17]:
# ë°ì´í„° ë¡œë“œ
movie_df = pd.read_csv('./data/tmdb_5000_movies.csv')
movie_df.head()
movie_df.shape

(4803, 20)

In [18]:
# ì‚¬ìš©í•  ì»¬ëŸ¼ ì„ íƒ
movie_df = movie_df[['id', 'title', 'genres', 'vote_average', 'vote_count', 'popularity', 'keywords', 'overview']]
movie_df.info()
movie_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4803 non-null   int64
 1   title         4803 non-null   object
 2   genres        4803 non-null   object
 3   vote_average  4803 non-null   float64
 4   vote_count    4803 non-null   int64
 5   popularity    4803 non-null   float64
 6   keywords      4803 non-null   object
 7   overview      4800 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 300.3+ KB

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.2,11800,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",6.9,4500,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.3,4466,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",7.6,9106,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.1,2124,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca..."

In [ ]:
# ì¥ë¥´ ë°ì´í„° ì „ì²˜ë¦¬
from ast import literal_eval

# str -> list(dict)
movie_df['genres'] = movie_df['genres'].apply(literal_eval) # literal_evalì€ ë¬¸ìì—´ë¡œ ì €ì¥ëœ ë¦¬ìŠ¤íŠ¸ ë˜ëŠ” ë”•ì…”ë„ˆë¦¬ë¥¼ ì‹¤ì œ ë¦¬ìŠ¤íŠ¸/ë”•ì…”ë„ˆë¦¬ë¡œ ë³€í™˜

In [20]:
str_list = '[1, 2, 3]'
lst = literal_eval(str_list)
print(type(lst))

<class 'list'>

In [ ]:
# name valueë§Œ êº¼ë‚´ì„œ list
movie_df['genres'] = movie_df['genres'].apply(lambda genres: [genre['name'] for genre in genres])   # ê° í–‰ì˜ genres ê°’ì´ ë”•ì…”ë„ˆë¦¬ ë¦¬ìŠ¤íŠ¸ë¼ë©´, ê° ë”•ì…”ë„ˆë¦¬ì—ì„œ 'name' í‚¤ì˜ ê°’ì„ ì¶”ì¶œí•˜ì—¬ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜
movie_df['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4803, dtype: object

In [ ]:
# list -> str (ê³µë°± êµ¬ë¶„ ë¬¸ìì—´)
movie_df['genres'] = movie_df['genres'].apply(lambda x: ' '.join(x))    # ê° í–‰ì— ëŒ€í•´ x(ì¥ë¥´ ë¦¬ìŠ¤íŠ¸)ë¥¼ ' '(ê³µë°±) ê¸°ì¤€ìœ¼ë¡œ í•©ì¹¨
movie_df['genres']

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801
4802                                 Documentary
Name: genres, Length: 4803, dtype: object

In [ ]:
# ì¥ë¥´ ìœ ì‚¬ë„ ì¸¡ì •ì„ ìœ„í•œ CountVectorizer ì‚¬ìš© 
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer(ngram_range=(1, 2))  # ë‚´ê°€ ê°€ì§€ê³  ìˆëŠ” ë‹¨ì–´ë“¤ì— ëŒ€í•´ì„œ ë‹¨ì–´ ìŒì„ í•˜ë‚˜, ë˜ëŠ” ë‘ê°œë¡œ ì¡°í•©í•˜ê² ë‹¤ (ab, cd) -> (a, b, c, d, ab, cd)
#  ['ë‚˜ëŠ”', 'ë°”ë³´ê°€', 'ì•„ë‹ˆë‹¤'] ì— ëŒ€í•´ì„œ ngram_range=(1, 2, 3)  ì´ë¼ë©´ ['ë‚˜ëŠ”', 'ë°”ë³´ê°€', 'ì•„ë‹ˆë‹¤', 'ë‚˜ëŠ” ë°”ë³´ê°€', 'ë°”ë³´ê°€ ì•„ë‹ˆë‹¤', 'ë‚˜ëŠ” ë°”ë³´ê°€ ì•„ë‹ˆë‹¤'] / ì—°ì†ëœ ë‹¨ì–´ ë¬¶ìŒë§Œ ê³ ë ¤
genres_vec = count_vectorizer.fit_transform(movie_df['genres'])
print(genres_vec.shape) # ì¥ë¥´ê°€ 276ê°œ
print(genres_vec.toarray()[:5]) # í¬í•¨ë˜ëŠ” ì¥ë¥´ë§ˆë‹¤ 1ì´ ë“¤ì–´ê°€ ìˆë‹¤ 
genres_vec_vocab = pd.DataFrame(count_vectorizer.get_feature_names_out())   # ê°€ì§€ê³  ìˆëŠ” ëª¨ë“  ì¥ë¥´ ì´ë¦„ë§Œ ê°€ì§€ê³  ì˜´ (íŠ¹ì„±)
genres_vec_vocab

(4803, 276)
[[1 1 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 [1 1 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 [1 1 0 ... 0 0 0]]

                    0
0              action
1    action adventure
2    action animation
3       action comedy
4        action crime
..                ...
271     western drama
272   western history
273     western music
274   western romance
275  western thriller

[276 rows x 1 columns]

### ğŸ”¹ CountVectorizerì˜ ë™ì‘ ë°©ì‹  

1. **í…ìŠ¤íŠ¸ë¥¼ í† í°(ë‹¨ì–´) ë‹¨ìœ„ë¡œ ë¶„ë¦¬**  
   - ê¸°ë³¸ì ìœ¼ë¡œ ë„ì–´ì“°ê¸° ê¸°ì¤€ìœ¼ë¡œ ë‹¨ì–´ë¥¼ ë‚˜ëˆ”.  
   - `tokenizer`ë¥¼ ì„¤ì •í•˜ë©´ í˜•íƒœì†Œ ë¶„ì„ê¸°ë¥¼ í™œìš©í•  ìˆ˜ë„ ìˆìŒ.  

2. **ë‹¨ì–´ ì‚¬ì „(ì–´íœ˜ì§‘, Vocabulary) ìƒì„±**  
   - í•™ìŠµ ë°ì´í„°ì— ìˆëŠ” **ëª¨ë“  ê³ ìœ í•œ ë‹¨ì–´ë“¤ì˜ ëª©ë¡**ì„ ë§Œë“  í›„, ê° ë‹¨ì–´ì— ì¸ë±ìŠ¤ë¥¼ ë¶€ì—¬.  
   - ë‹¨ì–´ ì¸ë±ìŠ¤ëŠ” ê¸°ë³¸ì ìœ¼ë¡œ **ì•ŒíŒŒë²³(ì‚¬ì „) ìˆœ**ìœ¼ë¡œ ì •ë ¬ë¨.  

3. **ê° ë¬¸ì¥ì—ì„œ ë“±ì¥í•˜ëŠ” ë‹¨ì–´ ê°œìˆ˜(ë¹ˆë„) ì„¸ê¸°**  
   - ê° ë¬¸ì¥ì„ **ë‹¨ì–´ ë“±ì¥ íšŸìˆ˜ ê¸°ë°˜ì˜ ë²¡í„°ë¡œ ë³€í™˜**í•˜ì—¬ í‘œí˜„.  
   - ë‹¨ì–´ê°€ ë“±ì¥í•˜ì§€ ì•Šìœ¼ë©´ 0, ë“±ì¥í•˜ë©´ í•´ë‹¹ íšŸìˆ˜ë¥¼ ê¸°ë¡.

# ğŸ”¹ CountVectorizerì˜ ë‹¨ì–´ ì¸ë±ìŠ¤ ë°°ì • ì›ë¦¬

1. **ì¤‘ë³µ ë‹¨ì–´ ì œê±°**
2. **ì•ŒíŒŒë²³(ì‚¬ì „) ìˆœìœ¼ë¡œ ì •ë ¬**
3. **ì •ë ¬ëœ ìˆœì„œëŒ€ë¡œ 0ë¶€í„° ì¸ë±ìŠ¤ ë¶€ì—¬**

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

# ìƒ˜í”Œ ë¬¸ì¥
corpus = ["ë‚˜ëŠ” ë°”ë³´ê°€ ì•„ë‹ˆë‹¤", "ë„ˆëŠ” ë°”ë³´ê°€ ë§ë‹¤", "ìš°ë¦¬ëŠ” ë°”ë³´ê°€ ì•„ë‹ˆë‹¤"]

# CountVectorizer ì ìš©
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(corpus)

# ë‹¨ì–´ ì‚¬ì „ ì¶œë ¥
print("ì–´íœ˜ ì‚¬ì „:", vectorizer.vocabulary_)

# ë³€í™˜ëœ ë²¡í„° ì¶œë ¥
print("ë³€í™˜ëœ ë²¡í„°:\n", X.toarray())




# {'ë‚˜ëŠ”': 0, 'ë„ˆëŠ”': 1, 'ë§ë‹¤': 2, 'ë°”ë³´ê°€': 3, 'ì•„ë‹ˆë‹¤': 4, 'ìš°ë¦¬ëŠ”': 5}


# ["ë‚˜ëŠ” ë°”ë³´ê°€ ì•„ë‹ˆë‹¤"]    â [1 0 0 1 1 0]  
# ["ë„ˆëŠ” ë°”ë³´ê°€ ë§ë‹¤"]      â [0 1 1 1 0 0]  
# ["ìš°ë¦¬ëŠ” ë°”ë³´ê°€ ì•„ë‹ˆë‹¤"]  â [0 0 0 1 1 1]       -> ê° í–‰ì€ ë¬¸ì¥ì„ ì˜ë¯¸í•˜ê³ , ê° ì—´ì€ ë‹¨ì–´ì˜ ë“±ì¥ íšŸìˆ˜ë¥¼ ì˜ë¯¸í•œë‹¤

### ì½”ì‚¬ì¸ ìœ ì‚¬ë„ ì¸¡ì •

In [ ]:
# ê±°ë¦¬ ë¿ë§Œ ì•„ë‹ˆë¼ ë°©í–¥ì„ ë”°ì§